# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
.env/
.venv/

dataset/run/
*train*/

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment/config files
.env
*.secret

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Test coverage reports
htmlcov/
.coverage

# Build artifacts
dist/
build/
*.egg-info/

# PyInstaller
*.spec
*.egg
*.whl
*.pt